
.wrap{
    width: 1024px;
    height: 1024px;
    margin: 0 auto;
}
h1 span{
    font-size: 50px;
    color: red;
    font-family:楷体;
}
h2 span{
    text-decoration: line-through;
}
h2.age{
    color: lightpink;
}
h4.shadow{
    font-size: 20px;
    width: 300px;
    text-shadow: gray 3px 4px 1px;
    border: dotted 1px palegreen;
}
a{
    text-decoration: none;
}
a.classify:hover{
    font-size: 30px;
    color:gold;
    text-decoration: underline;
}
ul li{
    list-style: none;
}
